service: fridays-kitchen-service

provider:
  name: aws
  runtime: nodejs20.x
  region: us-east-1
  stage: ${opt:stage, 'dev'}
  
  # ⚠️ AWS ACADEMY: Usar LabRole
  iam:
    role: arn:aws:iam::439535099835:role/LabRole
  
  environment:
    STAGE: ${self:provider.stage}
    REGION: us-east-1
    ORDERS_TABLE: Orders-${self:provider.stage}
    USERS_TABLE: Users-${self:provider.stage}
    EVENT_BUS_NAME: fridays-event-bus-${self:provider.stage}
    COOKS_TABLE: Cooks-${self:provider.stage}

# Configurar empaquetado para incluir shared
package:
  patterns:
    - 'functions/**'
    - 'shared/**'
    - '!shared/**/*.test.js'
    - '!**/*.md'

functions:

  getChef:
    handler: functions/chefs/getChef.handler
    events:
      - http:
          path: /kitchen/chefs/{chefId}
          method: GET
          cors:
            origin: '*'
            headers:
              - Content-Type
              - X-Amz-Date
              - Authorization
              - X-Api-Key
              - X-Amz-Security-Token
              - X-Amz-User-Agent
            allowCredentials: true
          authorizer:
            name: authorizer
            type: REQUEST

  listChefs:
    handler: functions/chefs/listChefs.handler
    events:
      - http:
          path: /kitchen/chefs
          method: GET
          cors:
            origin: '*'
            headers:
              - Content-Type
              - X-Amz-Date
              - Authorization
              - X-Api-Key
              - X-Amz-Security-Token
              - X-Amz-User-Agent
            allowCredentials: true
          authorizer:
            name: authorizer
            type: REQUEST

  updateChef:
    handler: functions/chefs/updateChef.handler
    events:
      - http:
          path: /kitchen/chefs/{chefId}
          method: PUT
          cors:
            origin: '*'
            headers:
              - Content-Type
              - X-Amz-Date
              - Authorization
              - X-Api-Key
              - X-Amz-Security-Token
              - X-Amz-User-Agent
            allowCredentials: true
          authorizer:
            name: authorizer
            type: REQUEST

  deleteChef:
    handler: functions/chefs/deleteChef.handler
    events:
      - http:
          path: /kitchen/chefs/{chefId}
          method: DELETE
          cors:
            origin: '*'
            headers:
              - Content-Type
              - X-Amz-Date
              - Authorization
              - X-Api-Key
              - X-Amz-Security-Token
              - X-Amz-User-Agent
            allowCredentials: true
          authorizer:
            name: authorizer
            type: REQUEST

  getCreatedOrders:
    handler: functions/orders/getCreated.handler
    events:
      - http:
          path: /kitchen/orders/created
          method: GET
          cors:
            origin: '*'
            headers:
              - Content-Type
              - X-Amz-Date
              - Authorization
              - X-Api-Key
              - X-Amz-Security-Token
              - X-Amz-User-Agent
            allowCredentials: true
          authorizer:
            name: authorizer
            type: REQUEST

  getKitchenOrder:
    handler: functions/orders/getOrder.handler
    events:
      - http:
          path: /kitchen/orders/{orderId}
          method: GET
          cors:
            origin: '*'
            headers:
              - Content-Type
              - X-Amz-Date
              - Authorization
              - X-Api-Key
              - X-Amz-Security-Token
              - X-Amz-User-Agent
            allowCredentials: true
          authorizer:
            name: authorizer
            type: REQUEST

  listKitchenOrders:
    handler: functions/orders/listOrders.handler
    events:
      - http:
          path: /kitchen/orders
          method: GET
          cors:
            origin: '*'
            headers:
              - Content-Type
              - X-Amz-Date
              - Authorization
              - X-Api-Key
              - X-Amz-Security-Token
              - X-Amz-User-Agent
            allowCredentials: true
          authorizer:
            name: authorizer
            type: REQUEST

  authorizer:
    handler: shared/auth/authorizer.handler


plugins:
  - serverless-offline
